body{
    margin: 0;  
    background-image: url(http://jovensconectados.org.br/wp-content/uploads/2015/08/pai-e-filho-32.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
}

header{
    grid-area:  header;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.cadastro{
    width: 100vw;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cadastro h1{
    font-family: 'Indie Flower', cursive;
    font-size: 35pt;
}
.cadastro button{
    background-color: #00ad00;
    border: none;
    padding: 8px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
}



.cadastro button a{
    text-decoration: none;
    font-size: 16pt;
    color: white;
}

.pai{
     height: 699px;
     width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;
     
     
}

.cadastroUser{
    width: 50%;
    height: 55 0px;
    background-color: gray;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    opacity: 0.7;
    
}

.cadastroUser h1{
    text-align: center;
    font-style: normal;
    font-family: sans-serif;
    font-size: 20pt;
}

.cadastroUser input{
    border-radius: 10px;
    padding: 6px;
    border: none;
     
     
    

}

.inputPai1{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid gray; 
    width: 90%;
    align-items: center;
}
.inputPai1 input{
    display: block;
    
    padding: 6px;

}
.inputPai1 h2{
    font-size: 13pt;
    font-family: sans-serif;
}
.inputPai{
    border-bottom: 2px solid gray;
    width: 200px;
}
.inputPai:hover{
    transition: 1s;
    width: 350px;
}

.inputPai h2{
    font-size: 13pt;
    font-family: sans-serif;
}

.btnSalvar{
    display: flex;
    width: 100px;
    margin: 10px;
    align-self: center;
    justify-content: center;
    border: none;
    background-color:#00ad00;
    color: white;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
}

.btnSalvar:hover{
    background-color: white;
    color: #00ad00;
    border: 1px solid #00ad00;
}

 